<div style="margin:10%">
<h1>Claim Audit Logs</h1>
<mat-form-field class="example-full-width">
    <input matInput placeholder="DCN" value="">
  </mat-form-field>
<br/>
  <mat-form-field>
      <mat-select placeholder="Type of Request">
        <mat-option>
          one
        </mat-option>
        <mat-option>
          one
        </mat-option>
        <mat-option>
          one
        </mat-option>
      </mat-select>
    </mat-form-field>
<br/>
<div class="example-button-row">
  <button mat-raised-button color="primary">Search</button>
  <button mat-raised-button color="accent">Cancel</button>
  <button mat-raised-button color="warn">Reset</button>
</div>
</div>