<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar style="padding:0 5%">
  <img style="height: 30px;padding: 10px;" src="https://individual.carefirst.com/carefirst-resources/responsive-full-width/images/logo-carefirst.svg" alt="">
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FEP Bridge Admin Console</span> 
  <span class="spacer"></span>
  <span>Welcome <i>Jayanth Arawa</i></span> 
</mat-toolbar>
<!-- <mat-toolbar  color="primary"  class="fixed-header">
    <mat-toolbar-row>
      <a mat-button mat-tab-link routerLink="/Claim_Analysis">Claim Analysis</a>
      <a mat-button mat-tab-link routerLink="/Business_Rule_Claims">Business Rule</a>
      <a mat-button mat-tab-link routerLink="/User_Management">User Management </a>
      <a mat-button mat-tab-link routerLink="/Reference_Data_Update">Reference Data Management</a>
   </mat-toolbar-row>
</mat-toolbar>
<div>
    <router-outlet></router-outlet>
</div> -->
<mat-tab-group md-center-tabs="true"  mat-align-tabs="center">
    <mat-tab md-center-tabs="true" label="Claim Analysis"> 
      <app-claim-analysis></app-claim-analysis>
    </mat-tab>
    <mat-tab label="Business Rule"> 
      <app-business-rule-claims></app-business-rule-claims>
    </mat-tab>
    <mat-tab label="User Management"> 
      <app-user-management></app-user-management>
    </mat-tab>
    <mat-tab label="Reference Data Management"> 
      <app-reference-data-update></app-reference-data-update>
    </mat-tab>
</mat-tab-group>

